<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/normalize.css">       
         <title></title>
    </head>
    <body>
        <h1>Add New game</h1>
        <form action="/game" method="POST">
            Card Game: <input type="text" name="cardgame" ><br/>
            Card Name: <input type="text" name="name" ><br/>
            Set: <input type="text" name="set" ><br/>
            Rarity: <input type="text" name="rarity"><br/>
            Image URL: <input type="text" name="img"><br/>
            <input type="submit"  value="Submit Changes"/>
        </form>
        <nav>
            <a class="btn btn-primary" href="/game">Back to mainpage</a>
        </nav>
    </body>
</html>